.menuBar {
    position: fixed;
    width: 300px;
    height: 100vh;
    display: flex;
    background-color: var(--violet);
    transition: all 0.2s;
    overflow: hidden;
    scroll-behavior: unset;

}

.content {
    width: 100%;
    height: 100%;
}

.content .title {
    color: var(--white);
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.content .title span {
    font-size: 30px;
    margin: 5px 15px;
    cursor: pointer;
}

.content ul {
    height: 100%;
    margin-top: 50px;
}

.content ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.content ul li:hover {
    background-color: var(--white);
}

.content ul li a {
    color: var(--white);
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
}

.content ul li a:hover {
    color: var(--violet);
}

.content ul li a span {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}